* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.sas-extension {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.sas-extension:not(.sas-extension_active) {
  cursor: pointer;
}
.extension-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.35s ease;
}

.sas-extension_active .extension-button {
  width: 8%;
  height: 100%;
  background: rgba(244, 244, 244, 0.75);
  box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.extension-button__logo {
  width: 25px;
  position: relative;
  margin: auto 0 auto auto;
  transition: all 0.5s ease;
}
.extension-button__logo-path {
  fill: #f9b316;
  transition: all 0.75s ease;
}
.extension-button:hover .extension-button__logo {
  opacity: 0.5;
}
.sas-extension_active .extension-button__logo {
  display: none;
}
.extension-button__close-button {
  display: none;
  width: 25px;
  margin: auto;
  transition: all 0.75s ease;
}
.extension-button:hover .extension-button__close-button {
  fill: #bebebe;
}
.sas-extension_active .extension-button__close-button {
  display: block;
}
.menu {
  position: absolute;
  right: -500px;
  bottom: 0;
  width: 0;
  height: fit-content;
  padding: 10px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s ease;
}
.sas-extension_active .menu {
  visibility: visible;
  width: 95%;
  height: 100%;
  position: relative;
  right: 0;
}
.menu-header {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}
.menu-content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}
.menu-container {
  width: 100%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
}
.menu-container.menu-container_buttons {
  width: 25%;
  flex-direction: column;
}
.menu-container.menu-container_textarea {
  width: 70%;
  flex-direction: row-reverse;
}
.menu-container__header {
  width: 100%;
}
.menu-container__title {
  margin: 5px 0;
}
.menu-container__left {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 5px;
}
.menu-container__right {
  width: 65%;
  display: flex;
}
.menu-container.menu-container_textarea .menu-container__right,
.menu-container.menu-container_textarea .menu-container__left {
  height: 100%;
  justify-content: space-between;
}
.menu-container__left_mid,
.menu-container__right_mid {
  width: 40%;
  margin-bottom: auto;
  flex-direction: column;
  row-gap: 5px;
}
.menu-container__left_full,
.menu-container__right_full {
  width: 100%;
}
.menu-container__left_bigh,
.menu-container__right_bigh {
  height: 100%;
  width: 65%;
}
.menu-container__left_bigw,
.menu-container__right_bigw {
  width: 100%;
}
.menu-container__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.5px 5px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #333333;
  background: #f9b417;
  cursor: pointer;
  transition: all 0.5s ease;
}
.menu-container__button:focus-visible,
.menu-container__button:focus,
.menu-container__button:focus-within {
  outline: none;
}
.menu-container__button:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 5px 0px rgba(85, 85, 85, 0.25);
}
.menu-container__button_deactive {
  pointer-events: none;
  cursor: unset;
  opacity: 0.8;
  background: #c1c1c1;
}
.menu-container.menu-container_buttons .menu-container__button {
  width: 95%;
}
.menu-container__left
  .menu-container__button:not(.menu-container__button_delete),
.menu-container__left_mid
  .menu-container__button:not(.menu-container__button_delete),
.menu-container__right_mid
  .menu-container__button:not(.menu-container__button_delete) {
  width: 100%;
}
.menu-container__left
  .menu-container__button:first-child:not(.menu-container__button_delete) {
  width: 100%;
}
.menu-container__left_bigw .menu-container__button,
.menu-container__right_bigw .menu-container__button,
.menu-container__left_bigw .menu-container__input,
.menu-container__right_bigw .menu-container__input {
  width: 100%;
}
.menu-container__button_delete {
  width: 100%;
}
.menu-container__button_delete:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 5px 0px rgba(85, 85, 85, 0.25);
}
.menu-container__button_delete svg {
  width: 15px;
  fill: #333333;
}
.menu-container__button_delete:first-child ~ .menu-container__button {
  width: 70%;
}
.menu-container__input {
  height: 100%;
  width: 100%;
  resize: none;
  font-size: 15px;
  text-align: center;
  padding: 5px 10px 0;
  border: none;
  border-radius: 4px;
  border-bottom: #333333 1px solid;
  background: #f6f6f6;
  text-align: left;
  font-size: 12px;
  text-wrap: nowrap;
  scrollbar-width: none;
}
input.menu-container__input {
  padding-bottom: 5px;
}
.menu-container__result {
  scrollbar-color: #f9b317 transparent;
  scrollbar-width: thin;
}
.menu-container__input::-webkit-outer-spin-button,
.menu-container__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.menu-container__input:focus,
.menu-container__input:focus-visible,
.menu-container__input:hover {
  outline: none;
  border-bottom: #f9b317 1px solid;
}
.menu-footer {
  width: 90%;
  margin: 10px auto 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-footer__button {
  width: 35%;
  padding: 7.5px 5px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #333333;
  background: #f9b417;
  cursor: pointer;
  transition: all 0.5s ease;
} 
.menu-footer__button:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 5px 0px rgba(85, 85, 85, 0.25);
}
